<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.org/ns/1.0"
        id          = "com.ndegwer.click"
        versionCode = "1"
        version     = "1.0.0" >
    <name>Click App</name>
    <description>This is an app to test the Click Solutions Site</description>
    <author href="ndegwer.byethost5.com" email="ndegwa22@gmail.com">
        Martin Ndegwa
    </author>
    
    <icon src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    
</widget>